/*

selector {
    property: value;
    property: value;
}

*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    margin:0;
    padding:0;
}

body {
  font-family:Garamond;
}

p {
    color: black;
    font-size: 20px;
}

img {
    max-width: 100%;
    width: auto;
}

header, section {
    min-height: 100vh;
    background-color: #ccc;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat:no-repeat;
    padding: 2rem;
    overflow:hidden;
}

section .main {
    background: white;
    background: rgba(255,255,1,1);
    padding: 1rem 2rem;
    width: 50%;
    float:right;
    clear:right;
    margin:0;
}

#outline .main {
    background: orange;
    float:left;
    clear:left;
}

.sidebar {
    float: right;
    width: 30%;
    background: black;
    display:none;
}

:target {
    display:block;
    position:relative;
    top:0; right:0;
}

#thesis {
    background-image: url('assets/photos/CTGate.jpg');
    background-attachment: scroll;
    display:flex;
    flex-direction:column-reverse;
    justify-content:center;
    align-items: flex-end;
}

#thesis .main {
    float:none;
    clear:inherit;
}
#outline {
    
}

#monkey_summary {

}

#intro_to_essay {

}

#ritual_rebirth {
  background-image: url('assets/photos/Water.jpg');
}
    #In_the_novel {
      background-image: url('assets/photos/Door1.jpg')}

    #Both_Chen {
      background-image: url('assets/photos/Wall.jpg')}

    #Van_Gennep {
      background-image: url('assets/pohtos/Dock.jpg')}

#origins {
  background-image: url('assets/photos/CemeteryEntrance.jpg');
}

    #The_liminal {
      background-image: url('assets/photos/Panteon.jpg')
    }

#c_p_on_the_plantation {

}

#re-roots_himself {
  background-image: url('assets/photos/VillageView.jpg')
}

#social_message {
  background-image: url('assets/photos/Capitolio.jpg')
}

#exceptional {

}

#questions {background-image: url('assets/photos/Shutters.jpg')
}

#conclusion {

}
