/*

selector {
    property: value;
    property: value;
}

*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,body {
    margin:0;
    padding:0;
}

body {
  font-family:Garamond;
}

p {
    color: black;
    font-size: 20px;
}

img {
    max-width: 100%;
    width: auto;
}

/* Every header or section */
header, section {
    min-height: 100vh;
    background-color: #ccc;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat:no-repeat;
    padding: 2rem;
    overflow:hidden;
}

/* Any element with class="main" inside a section. */
section .main {
    background: white;
    background: rgba(255,255,1,1);
    padding: 1rem 2rem;
    width: 66%;
    float:left;
    clear:left;
    margin:0;
}

section .sidebar {
    float: right;
    width: 30%;
    background: rgba(255,255,255,.75);
    display:none;
}


/* Any header */
header {
    background-image: url('assets/photos-web/CTGate.jpg');
    background-attachment: fixed;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    color: white;
    padding-top: 1in;
}



:target {
    display:block;
    position:relative;
    top:0; right:0;
}

/* The element with id="thesis" */
#thesis {
    background-image: url('assets/photos-web/CTGate.jpg');
    background-attachment: fixed;
    display:flex;
    flex-direction:column-reverse;
    justify-content:center;
    align-items: flex-end;
}

#thesis .main {
    float:none;
    clear:inherit;
}

#outline {
    background-image: url('assets/photos-web/MoonCloud.jpg');
    background-attachment: scroll;
}

#outline .main {
    background: orange;
    float:left;
    clear:left;
}


#monkey_summary {

}

#intro_to_essay {
    background: #333;
}

#ritual_rebirth {
  background-image: url('assets/photos-web/Water.jpg');
}
    #In_the_novel {
      background-image: url('assets/photos-web/Door1.jpg');}

    #Both_Chen {
      background-image: url('assets/photos-web/Wall.jpg');}

    #Van_Gennep {
      background-image: url('assets/photos-web/Dock.jpg');}

#origins {
  background-image: url('assets/photos-web/CemeteryEntrance.jpg');
}

    #The_liminal {
      background-image: url('assets/photos-web/Panteon.jpg');
    }

    #García_cites {
      background-image: url('assets/photos-web/Cemetery.jpg');
    }

    #At_sea {
      background-image: url('assets/photos-web/Kidgraves.jpg');
    }

    #The_prevalence {
      background-image: url('assets/photos-web/Skull.jpg');
    }

    #Onboard_the_ship {
      background-image: url('assets/photos-web/BonesBox.jpg');
    }

    #Furthermore {
      background-image: url('assets/photos-web/CemeteryBoxes.jpg');
    }

    #The_physical {
      background-image: url('assets/photos-web/BWSteeple.jpg');
    }

    #His_body {
      background-image: url('assets/photos-web/BWPueblo.jpg');
    }

    #The_man_does {
      background-image: url('assets/photos-web/BWStreet.jpg');
    }

    #Harbor {
      background-image: url('assets/photos-web/Harbor.jpg');
    }

#c_p_on_the_plantation {
}

    #The_depiction  {
    }

    #Suffering_surrounds {
      background-image: url('assets/photos-web/Guardia.jpg');
    }

    #As_an_indentured {
      background-image: url('assets/photos-web/NightHouse.jpg');
    }

    #Turner_utilizes {
      background-image: url('assets/photos-web/MoonCloud.jpg');
    }

    #Turner_also {
      background-image: url('assets/photos-web/MoonLines.jpg');
    }

#re-roots_himself {
  background-image: url('assets/photos-web/VillageView.jpg');
    }

    #Chen_Pan_flees {
      background-image: url('assets/photos-web/VillageView.jpg');
    }

    #Chen_Pans_year {
      background-image: url('assets/photos-web/Dusk.jpg');
    }

    #Chen_Pans_year {

    }

    #To_leave_the {
      background-image: url('assets/photos-web/TrinidadSt.jpg');
    }

    #In_addition {
      background-image: url('assets/photos-web/FusterlandiaDove.jpg');
    }

    #He_remembered {
      background-image:
    }

    #Chen_Pan_prepares {
      background-image: url('assets/photos-web/Trinidad.jpg');
    }

    #Chen_Pan_performs {
    }

    #El_personaje {background-image: url('assets/photos-web/Bienvenido.jpg');
    }

    #Overcoming {background-image: url('assets/photos-web/CalleSN.jpg');
    }

    #After_the_episode {
    }

    #Chen_Pans_movement {background-image: url('assets/photos-web/CTLights.jpg');
    }

    #Six_years {background-image: url('assets/photos-web/Buddha.jpg');
    }
    #He_belongs {background-image: url('assets/photos-web/Mantel.jpg');
    }

    #Chen_Pans_exit {
    }

#social_message {background-image: url('assets/photos-web/Capitolio.jpg');
  }

  #Sean_Moiles {background-image: url('assets/photos-web/NightHavana.jpg');
  }

  #The_text_likens {
  }

  #Both_Moiles {background-image: url('assets/photos-web/DuskStreet.jpg');
  }

#exceptional {
  }

  #The_migrants {
  }

  #Chen_Pans_story  {background-image: url('assets/photos-web/Flags.jpg');
  }

  #Appearing_in {background-image: url('assets/photos-web/Free.jpg');
  }

  #With_repition {background-image: url('assets/photos-web/Stairwell.jpg');
  }

  #The_less_fortunate {background-image: url('assets/photos-web/CobblestoneStreet.jpg');
  }

  #La_postura {background-image: url('assets/photos-web/Church.jpg');
  }

  #The_smaller{background-image: url('assets/photos-web/ChurchRuins.jpg');
  }

  #Domingos_father {background-image: url('assets/photos-web/Castro.jpg');
  }

  #Exiled_and_understanding {background-image: url('assets/photos-web/Castro.jpg');
  }

  #questions {background-image: url('assets/photos-web/CastroBday.jpg');
  }

  #Domingos_lack {background-image: url('assets/photos-web/ArtUS.jpg');
  }

  #Domingo_feels {background-image: url('assets/photos-web/TV.jpg');
  }

  #Similarly {background-image: url('assets/photos-web/Window2.jpg');
  }

#Impossibility {background-image: url('assets/photos-web/NightStairs.jpg');
  }

  #The_migrations {background-image: url('assets/photos-web/Fields.jpg');
  }

  ##The_role  {background-image:
  }

  #However_in_Vietnam {background-image: url('assets/photos-web/NightStack.jpg');
  }

  #As_their_stories {background-image: url('assets/photos-web/DuskStacks2.jpg');
  }

  #A_single {background-image: url('assets/photos-web/BeachDoors.jpg');
  }

  #In_contrast_Domingos {background-image: url('assets/photos-web/Beach.jpg');
  }

  #The_forest {background-image: url('assets/photos-web/Trash1.jpg');
  }

  #In_Vietnam {background-image: url('assets/photos-web/Restaurant1.jpg');
  }

  #Now_who {background-image: url('assets/photos-web/Restaurant2.jpg');
  }

  #Deforestation {background-image: url('assets/photos-web/Grocery.jpg');
  }

  #This_reading {background-image: url('assets/photos-web/Eggplants.jpg');
  }

  #Garcias_concern {background-image: url('assets/photos-web/Canon.jpg');
  }

  #The_hostility {background-image: url('assets/photos-web/BuildingFront.jpg');
  }

  #His_mother {background-image: url('assets/photos-web/Lion.jpg');
  }

  #and {background-image: url('assets/photos-web/Tomb.jpg');
  }

  #The_similarity {background-image: url('assets/photos-web/Laterns.jpg');
  }

  #Similar_deformities {background-image: url('assets/photos-web/WallMural.jpg');
  }

  #The_narrative {background-image: url('assets/photos-web/Posters.jpg');
  }

  #This_also   {background-image: url('assets/photos-web/SanFancon.jpg');
  }

  #A_damaged {background-image: url('assets/photos-web/HavanFlag.jpg');
  }

  #Deforestation_has {background-image: url('assets/photos-web/Shutters.jpg');
  }

  #These_conclusions {background-image:
  }

  #questions {background-image: url('assets/photos-web/Plaza.jpg');
  }

  #Cho_agrees {background-image: url('assets/photos-web/AlleyEats.jpg');
  }

  #I_read {background-image: url('assets/photos-web/NightHavana.jpg');
  }

#conclusion {background-image: url(''

  }
